html{
    overflow-x: hidden;
}

body{
    background-image: url("../img/GAMES.jpg");
}

.navbar{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    position: sticky;
}

.bigimg {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 75vh;
    width: 100vw;
}

.text1{
    background-color: #6E2FCA;
    margin-top: 20px;
    display: flex;
    text-align: left;
}

.para1{
    font-size: 20px;
    color: white;
    margin-left: 20px; 
    margin-right: 20px;
}


.text2{
    background-color: #6E2FCA;
    margin-top: 20px;
    display: flex;
    text-align: right;
    margin-bottom: 20px;
}

.video10min{
    margin-right: 20PX;
}

.videoitw{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.para2{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    
}

.videoitw{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.container{
display: flex;
justify-content: center;
margin-top: 20px;
}

